form {
    max-width: 340px;
    margin: 10px auto 0!important
}

.f-btn {
    width: 100%;
    border-radius: 3px;
    font-size: 19px;
    min-width: 200px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    min-height: 46px;
    color: #fff;
    margin: 10px 0;
    border: 2px solid #0057b1;
    background: radial-gradient(#13a8ff, #0057b1);
    transition: linear 0.3s;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: linear 0.3s, background 0s;
}

.f-btn:hover,
.f-btn:focus,
.f-btn:active {
    color: #0057b1;
    border: 2px solid #0057b1;
    background: #0057b1;
    box-shadow: none;
}

.f-btn-red {
    border: 2px solid #db2300;
    background-image: radial-gradient(#ff5a3b, #db2300);
}

.f-btn-red:hover,
.f-btn-red:focus,
.f-btn-red:active {
    min-height: 43px;
    color: #db2300;
    border: 2px solid #db2300;
    background: #db2300;
    box-shadow: none;
}

.f-btn-red {
    border: 2px solid #db2300;
    background-image: radial-gradient(#ff5a3b, #db2300);
}

.f-btn-red:hover,
.f-btn-red:focus,
.f-btn-red:active {
    min-height: 43px;
    color: #db2300;
    border: 2px solid #db2300;
    background: #db2300;
    box-shadow: none;
}

.f-btn-green {
    border: 2px solid #77c59e;
    background-image: radial-gradient(#77c59e, #77c59e);
}

.f-btn-green:hover,
.f-btn-green:focus,
.f-btn-green:active {
    color: #77c59e;
    border: 2px solid #77c59e;
    background: #77c59e;
    box-shadow: none;
}

.f-btn-green {
    border: 2px solid #77c59e;
    background-image: radial-gradient(#77c59e, #77c59e);
}

.f-btn-green:hover,
.f-btn-green:focus,
.f-btn-green:active {
    color: #77c59e;
    border: 2px solid #77c59e;
    background: #77c59e;
    box-shadow: none;
}

.radius input {
    border-radius: 3px;
}

.radius {
    display: block!important;
}

.f-btn:hover:after,
.f-btn:focus:after,
.f-btn:active:after {
    opacity: 1;
    width: 75%;
}

.f-btn:after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    width: 0;
    height: 700%;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    content: '';
    position: absolute;
    z-index: -1;
}

input.form-control {
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 16px;
    height: 43px;
    line-height: 1.33;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #666;
    color: black;
}