.nav__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav__menu-items a {
    color: #274587
}

.header {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 8px 0;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
}

.nav__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__menu-items li:not(:last-child) a {
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
    position: relative;
}

.nav__menu-items li:not(:last-child) a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    height: 100%;
    width: 2px;
    background: #274587;
}

.nav__menu-items li a {
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
}

h1,
h2 {
    font-weight: bold;
    font-size: 47px;
    color: #05215e;
    margin-bottom: 50px;
}

h1 span {
    display: block;
    font-size: 80%;
    color: #375db0;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.main p {
    font-size: 30px;
    color: #375db0;
}

.main {
    background: url('../image/back.png.jpg') no-repeat center/cover;
    min-height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 94px;
}

.main__content {
    padding-bottom: 100px;
    flex: 0;
    /* background: rgba(255, 255, 255, 0.6); */
}

.speakers img {
    width: 100%;
    display: block;
    max-width: 290px;
    margin: auto;
    padding: 20px;
}

h2 {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    color: #072e82;
}

.registration_form {
    border: 2px solid #072e82;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 35px;
    color: #072e82;
}

h6 {
    font-size: 25px;
    color: #072e82;
    margin-bottom: 30px;
}

h6 span {
    color: #af1818;
}

.received_list h4 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.f-btn.f-btn-red.btn {
    background: #af1818;
    color: #fff;
    margin: 17px 0;
    padding: 8px 30px;
    font-size: 25px;
}

.registration_form p {
    color: #072e82;
    margin: 0;
}

input {
    color: #072e82;
    border: 1px solid #072e82!important;
    margin: 10px 0;
    padding: 30px!important;
}

input::placeholder {
    color: #072e82!important;
    font-size: 25px;
}

.received_benefits {
    padding: 0 25px;
}

ul li {
    line-height: 1.5;
    font-size: 23px;
    color: #072e82;
}

.received_benefits li {
    list-style: none;
    position: relative;
}

.received_benefits li:before {
    content: url('../image/checked.svg');
    position: absolute;
    left: -38px;
    width: 18px;
    height: 18px;
    top: 1px;
}

.speakers_item p {
    text-align: center;
    color: #274587;
    justify-content: center;
    line-height: 1;
    margin-bottom: 0;
}

.speakers_item h6 {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
    color: #274587;
    font-size: 30px;
}

.speakers {
    margin-bottom: 60px;
}

.contacts {
    background: #274587;
    color: #fff;
    padding: 20px 0;
    font-size: 22px;
}

.contact_information_items {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.socials img {
    width: 40px;
    height: 40px;
}

.sdg-trade_logo_letter {
    width: 110px;
    height: 50px;
}

.contacts p {
    margin-bottom: 5px;
}

.contacts p a {
    color: #fff;
}

@media (max-width:1200px) {
    h1 {
        margin-bottom: 0px;
    }
    h4 {
        font-size: 27px;
        margin-bottom: 15px;
    }
}

@media (max-width:992px) {
    .received_benefits h4 {
        margin-top: 15px;
    }
    .contacts .col-lg-4 {
        margin: 10px 0;
    }
    #timere8fb6817e6834b343a57c8a1e9ab8552 {
        margin: 0px!important;
    }
}

@media (max-width:768px) {
    .speakers {
        margin-bottom: 30px;
    }
    .contacts {
        padding: 10px 0;
    }
    h1 {
        font-size: 30px;
    }
    .main p {
        font-size: 22px;
    }
    .header .row {
        flex-direction: column;
    }
}

@media (max-width:444px) {
    .received_benefits {
        padding: 0px;
    }
    .nav__menu {
        justify-content: center;
    }
    .nav__menu-items li a {
        font-size: 16px;
    }
    h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    h2 {
        margin: 20px 0;
        font-size: 37px;
    }
    #timere8fb6817e6834b343a57c8a1e9ab8552 {
        width: 290px!important;
    }
    .timer-element canvas,
    .timer-element {
        width: 60px!important;
        height: 60px!important;
    }
    .timer-separator {
        height: 60px!important;
    }
    .timer-element span:nth-child(2) {
        font-size: 10px;
    }
    .timer-element span:nth-child(1) {
        font-size: 22px!important;
    }
    .main p {
        font-size: 18px;
    }
    h1 {
        font-size: 25px;
        margin-top: 20px;
    }
    .header {
        box-shadow: 0px 0px 10px 0px rgba(6, 6, 6, 0.25098039215686274);
    }
    .logo {
        text-align: center;
    }
    ul li {
        font-size: 18px;
    }
    .nav__menu-items {
        flex-direction: column;
    }
}