.version.thanks /* version checker */
{
	color: #0000FC;
	background-color: #BC2AB2;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 938px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u495
{
	z-index: 39;
	background-color: transparent;
	position: relative;
	width: 16.15%;
	margin-left: 41.88%;
}

#u393
{
	z-index: 2;
	min-height: 570px;
	padding-bottom: 22px;
	background: transparent url("../images/parallax_1.jpg") no-repeat center center;
	background-size: cover;
}

#pu412
{
	margin-right: -10000px;
	margin-top: 86px;
	width: 43.75%;
	margin-left: 2.09%;
}

#u412
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u392-7
{
	z-index: 9;
	min-height: 107px;
	background-color: transparent;
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-family: bad-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	width: 80%;
	left: 14.29%;
}

#u409-4
{
	z-index: 5;
	min-height: 107px;
	background-color: transparent;
	line-height: 86px;
	color: #FFFFFF;
	font-size: 72px;
	text-align: center;
	font-family: bad-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 52.09%;
	left: 45.84%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u393-bw
{
	z-index: 2;
	min-height: 570px;
	margin-top: 7px;
}

#pu416
{
	margin-top: 17px;
	width: 100%;
}

#u416
{
	z-index: 21;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 8.86%;
	left: 11.57%;
}

#u390
{
	z-index: 23;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 8.86%;
	left: 45.53%;
}

#u394
{
	z-index: 25;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 8.86%;
	left: 79.59%;
}

#u495_img,#u412_img,#u416_img,#u390_img,#u394_img
{
	width: 100%;
}

#pu389-4
{
	margin-top: 4px;
	width: 100%;
}

#u389-4
{
	z-index: 27;
	min-height: 61px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 20.94%;
	left: 5.53%;
}

#u415-4
{
	z-index: 31;
	min-height: 61px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 20.94%;
	left: 39.48%;
}

#u410-4
{
	z-index: 35;
	min-height: 61px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 20.94%;
	left: 73.55%;
}

#u411
{
	z-index: 16;
	min-height: 114px;
	padding-bottom: 52px;
	background: transparent url("../images/boardline.jpg") no-repeat left top;
}

#u393_align_to_page,#u411_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u414-4
{
	z-index: 17;
	min-height: 42px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: lobster, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	width: 95.84%;
	left: 2.09%;
}

#u411-bw
{
	z-index: 16;
	min-height: 114px;
}

.html
{
	background-color: #D0D0D0;
}

body
{
	position: relative;
	min-width: 320px;
}

