/*
.body_NewStyle - https://sdg-trade.com/test-obuchenie
*/
.body_NewStyle .container{
  max-width: 100%;
  padding: 0;
}
.body_NewStyle h1{
  text-align: center;  
  font-size:42px;
  color: #000;
}
.body_NewStyle .study-page .pro-level.statti h2,
.body_NewStyle .study-page h2,
.body_NewStyle h2{
  font-size: 32px;
  text-align: left;
}
.body_NewStyle h2.section-title{
  /*margin-bottom: 15px;*/
}
.body_NewStyle .item-page h3,
.body_NewStyle #rt-mainbody .item-page h3{
  max-width: 100%;
  text-align: left;
  font-size:28px; 
}
.body_NewStyle #rt-mainbody .price-column.base-level h3{
  margin: 20px 0;
}
.body_NewStyle{
  line-height: 1.7;
  font-size: 16px;
}
.body_NewStyle .navigation ul li a {
    font-weight: 400;
}
.body_NewStyle .pro-level .col-lg-7{
  padding-top: 35px;
}
.body_NewStyle .study-page p{
  /*line-height: 1.7;*/
}
div.body_NewStyle .text__title{
  line-height: 1.7;
  font-size: 16px;
}
.body_NewStyle .btn_container .sppb-btn {
    width: auto;
    outline: 0;
}
.btn_containerNewStyle .sppb-btn-primary.sppb-btn-outline {
    color: rgba(0,0,0,.9);
    background-color: transparent;
    border-color: transparent;
    outline-color: #075d9e !important;
}
.body_NewStyle .pro-level__decription p,
#courses .pro-level__decription p,
#courses .pro-level__decription .list{
  font-size: 16px;
  line-height: 1.2;
}
.hidden_gradient{
  transition: linear 0.15s;
  position: relative;
  overflow: hidden;
  max-height: 200px;  
}
.hidden_gradient.active {
  max-height: 100%;
}

.hidden_gradient.active:after {
  opacity: 0;
}
.hidden_gradient:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  content: ""; 
  transition: linear 0.3s;
  background: linear-gradient(180deg, transparent, #f5f5f5);
}
.price-column .container-courses-flex-two .col-lg-4{
  margin-bottom: 0;
}
.body_NewStyle .video-lessons__wrapper {
    border-radius: 5px;
}
.video-lessons p{
  line-height: 1.7;
}
.body_NewStyle .video-lessons__wrapper .pro-level__decription{
  padding-top: 0;
}
.body_NewStyle .video-lessons li, 
.body_NewStyle .video-lessons p:not(.small-text) {
    font-size: 16px;
} 
.body_NewStyle .study-page  .btn-simple {
  border-radius: 5px;
  background: #1172B8;
  color: #fff; 
}
.body_NewStyle .study-page .btn-simple:hover{
  background: #075d9e;
  color: #fff; 
}
.body_NewStyle .study-page .videoPoster {
    background-image: url(../images/obuchenie/free-course-1.png);
}
.body_NewStyle .study-page .videoPoster2 {
    background-image: url(../images/obuchenie/free-course-2.png);
}
.body_NewStyle .study-page .videoPoster > button{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  color: transparent !important;
  background: transparent !important;
}
.body_NewStyle .video-lessons__wrapper .videoPoster .videoPoster__btn{
  opacity: 0;
}
.body_NewStyle .price-column__header-time {
  padding-top: 10px;
}
.body_NewStyle .videoPoster__btn{
    fill: #1172B8;
}
.body_NewStyle .videoPoster__btn:before{
  background: #fff;
}
.body_NewStyle .video-lessons__wrapper .videoPoster .icon {
  margin-top: 2px;
    width: 80px;
    height: 80px;
}
.body_NewStyle .pro-level__banner {
    /*background: url(../images/obuchenie/t365.png) center/cover no-repeat;*/
}
.body_NewStyle .pro-level .h1{
  font-weight: 500;
}
.body_NewStyle .pro-level .h1 span{
  text-align: center;
  font-weight: 900;
}
.body_NewStyle  .pro-level__banner:before{
background: rgba(16, 114, 183, 0.8);
}
.body_NewStyle .pro-level__container{
  border-radius: 5px;
}

.body_NewStyle .pro-level__banner{
  border-radius: 5px 0 0 5px;
}
.body_NewStyle .price-column__header-title {
  background: #1172B8;
  border-radius: 5px 0;
}
.body_NewStyle .price-column__item.back-face{
  background: #1172B8;
  border-radius: 5px;
}
.body_NewStyle .price-column__item,
.body_NewStyle .price-column__items .overflow{
  border-radius: 5px;
}

.body_NewStyle .price-column .h3{
  max-width: 100%;
}
.body_NewStyle .price-column__item .h3 span ,
.body_NewStyle .price-column__item .h3 span a{
  color: inherit;
  font-weight: 700;
  display: inline-block;
  margin-left: 8px;
}
.body_NewStyle .benefits .icon{
    fill: #075d9e !important;
}
#body_893  path {
    stroke: #075d9e !important;
} 
.body_NewStyle #coaches .carousel{
  background: #F6F8FF;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.1);
  box-shadow: 0 4px 7px rgba(0,0,0,.1);
}
.body_NewStyle #coaches .carousel-control-next{  
  height: 68px;
  opacity: 1 !important;
}
.body_NewStyle #coaches .carousel-control-prev {    
    height: 68px;
    opacity: 1 !important;
}
.body_NewStyle #coaches .carousel-control-next-icon{
  background: url(/build/img/arrow-point-to-left2.svg) center/cover no-repeat;
  height: 68px;
}
.body_NewStyle #coaches .carousel-control-prev-icon{
  background: url(/build/img/arrow-point-to-right2.svg) center/cover no-repeat;
  height: 68px;
}
.body_NewStyle #coaches .carousel-control-next:hover,
.body_NewStyle #coaches .carousel-control-prev:hover{
  opacity: 0.7;
}
.body_NewStyle #coaches .carousel-item .name,
.body_NewStyle #coaches .carousel-item .name a{
  color: #000;
}
.body_NewStyle #coaches.mentors {
    padding-bottom: 0px;
}
.feedback-img{
  display: block;  
  margin-bottom: 15px !important;
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.1);
  box-shadow: 0 4px 7px rgba(0,0,0,.1);
}
.feedback-img img{width: 100%;}
.body_NewStyle .feedback{
  padding-top: 50px;
  padding-bottom: 50px;
}
.body_NewStyle .feedback h2{
  padding-bottom: 50px;
}
.body_NewStyle .feedback__video .videoWrapper svg {
    z-index: 2;
    fill: #1172B8;
}
.body_NewStyle .feedback__video .section__title,
.body_NewStyle .feedback__video .button-text-center{
  display: none;  
}
.individual_training .col-img{
  padding-left: 5vw;
  margin-bottom: 20px;
}
.individual_training-text{
  margin-bottom: 20px;
}
 
.individual_training .col-img a{
  display: block;
  margin-bottom: 15px;
}
.individual_training .btn-simple{
  margin: 20px auto 50px !important;
}
.col-lg-4-left{
  padding-left: 30%;
}
.col-lg-4-right{
  padding-right: 30%;
}
.body_NewStyle .mentors .carousel-item .row{
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.price-column.help button span{
  font-weight: 700;
}
.price-column.help button .sumMe{
  display: none;
}
/************* SCROLL TO **********/
.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  z-index: 999;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #1172B8;
}
.top-link.show {
    visibility: visible;
    opacity: 1;
  }
  
.top-link.hide {
    visibility: hidden;
    opacity: 0;
  }

.top-link svg {
    fill: #fff;
    width: 24px;
    height: 12px;
  }

.top-link:hover {    
    background: #075d9e;
}

.top-link:hover svg {
  fill: #fff;
  width: 30px;
  height: 15px;
}
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000; // Above WP toolbar
  clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}
/* ********* Modal ************ */ 
.body_NewStyle .modal_new .btn {
    padding: .375rem 2rem;
    border-radius: 5px;
    background: #1172B8;
    border-color: #1172B8;
    margin: 0;
    font-size: 16px;
    color: #fff !important;
}
.modal_new .modal-dialog {
    max-width: 740px;
}
.study-page .modal_new.modal .modal-dialog .modal-content {
    max-width: 740px;
    width: auto;
    margin: auto;
    border-radius: 5px;
    background: #f2f2f2;
}
.modal_new .modal-body {
    padding: 35px 0px 35px 0px;    
}
.study-page .modal_new.modal .modal-dialog .modal-content .modal-title {
    color: #000;
    text-transform: uppercase;
    padding-bottom: 0;
}
.modal_new .modal_description-right .list-tittle{
  margin-left: 0 !important;
  font-size: 16px !important;
  font-weight: bold;
}
.exampleModal .modal_description .modal_description-col {
    flex: 1;    
}
.exampleModal .modal_description form{
  text-align: left;
}
.exampleModal .modal_description-right{
  display: none;  
}
.modal_new .modal_description-right{
  display: block;  
  flex: 1;
}
.body_NewStyle .btn:hover {
    background: #075d9e !important;
    cursor: pointer;
} 
.modal_new .form-group p{
  display: none;  
}
.modal_new .contactMe{display: none;}
.modal_new button span{font-weight: 700;}
/* ****** .videoModal ******** */
.videoModal.modal_new  .modal-body {
    padding: 35px 30px 35px;
    text-align: center;
}
.videoModal .modal-dialog .modal-content .modal-title {
    text-transform: none;
    margin-bottom: 30px;
} 
/****************
**** /besplatnoe-test
****************/
.col-vebinars{
  margin-bottom: 30px;
}
.col-vebinars .no-gutters{  
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  text-align: center;
  
  background: #F6F8FF;
  border: 0;
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.1);
  box-shadow: 0 4px 7px rgba(0,0,0,.1);
  word-wrap: break-word;
}
.col-vebinars .no-gutters>div:first-child{
  overflow: hidden;
  
}
.col-vebinars .videoPoster{
  /*display: block;  
  width: 100%;
  height: 200px;*/
  background-size: cover !important;
}
.col-vebinars .card-body{
  padding: 10px 0 0;
  text-align: center;
  
}
.col-vebinars .card-body span{
    font-size: 15px;
    line-height: 1;
    color: #968f8f;
}
.col-vebinars .card-body .card-title{
  min-height: 47px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.2rem 0;
}
.col-vebinars .card-body button{
  margin: 20px auto 0 ;
}
.study-page .col-vebinars .videoWrapper169 {
    padding-top: 66%;
}
.novice_trader{
  padding: 30px 0 50px;
}
.novice_trader__wrapper {
    padding: 30px;
    background: #f6f8ff;
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,.1);
    box-shadow: 0 4px 7px rgba(0,0,0,.1);
    border-radius: 5px;
}
.col-novice_trader-left{
  display: flex;
  align-items: center;
}
.col-novice_trader-left img{
  max-width: 60%;
  margin: 0 auto;  
}
.modal-video{
  width: 100%; 
  height: auto;
  
}
.study-for-free p{
  line-height: 1.7;
}


@media (max-width: 768px) {
  .col-video-desc{order: -1; margin-bottom: 20px;}
  .col-video-desc + .text-center .btn-simple {margin-top: 0px !important;font-size: 16px;}
  .body_NewStyle .video-lessons__wrapper .pro-level__decription{padding: 0;}
  .col-lg-4-left, .col-lg-4-right{padding: 0%;}  
  .price-column.base-level .text__title{text-align: left !important;}
  .modal_new .modal-body{  padding: 5px 0px 5px 0px;}
  .modal_new .modal-dialog{padding: 0px;}
  .modal_new .modal-dialog{margin: 0;}
  .modal_new.modal.fade.show {padding-right: 0;}
  .price-column.pro-level-collumn .text__title:not(.footer){text-align: left !important;}
  .body_NewStyle .line-first,
  .body_NewStyle .line-second,
  .body_NewStyle .line-second-mobile,
  .body_NewStyle .line-third,
  .col-mob-hide{display: none !important;} 
  .body_NewStyle .benefits .col-lg-4 .items p{margin-bottom: 30px;}
  #coaches{padding-top: 0;}
  .body_NewStyle .benefits{padding-bottom: 0;}
  .body_NewStyle .study-page .mentors .carousel-item{min-height: 300px;}
  .top-link{display: none !important;}
  .body_NewStyle .mentors .carousel-item .row{padding: 20px;}
  .body_NewStyle .study-page .mentors img{width: 150px; height: auto;}
  .body_NewStyle .study-page .mentors .carousel_item{padding: 0;}
  .body_NewStyle .study-page .carousel-control-next, 
  .body_NewStyle .study-page .carousel-control-prev{ top: calc(20% - 15px);}





} 