RewriteEngine On
RewriteBase /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.html?\ HTTP/
RewriteRule ^(.*)index\.html?$ https://sdg-trade.com/start/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.sdg-trade\.com$ [NC]
RewriteRule ^(.*)$ https://sdg-trade.com/start/$1 [R=301,L]
