.ts------8
{
	font-family: ubuntu-n4, sans-serif;
}

#u1687-4
{
	font-family: lato-n4, sans-serif;
}

#u1759-6
{
	font-family: lobster-n4, serif;
}

#u1886-16,#u1985-11,#u2001-17,#u2043-15,#u2027-12
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1885-4,#u1982-4,#u1998-4,#u1916-4,#u1988-4,#u2004-4,#u2040-4,#u2046-4,#u2024-4,#u2030-4,#u1961-4,#u1964-4,#u1967-4,#u1970-4,#u1976-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1979,#u1871,#u1880,#u2049
{
	font-family: ubuntu-n7, sans-serif;
}

#u1841-4,#u1979-4,#u1871-4,#u1877-4,#u1880-4,#u1023-4,#u2049-4,#u2078-11
{
	font-family: ubuntu-n3, sans-serif;
}

