.version.success /* version checker */
{
	color: #000012;
	background-color: #12267E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 90px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;/* should not cover content below */
}

#pu1432
{
	width: 0.01px;
	margin-left: 407px;
	margin-top: 7px;
}

#u1432
{
	z-index: 3;
	width: 58px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1437-4
{
	z-index: 5;
	width: 94px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 65px;
}

#pu1448-9
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 83px;
}

#u1448-9
{
	z-index: 14;
	width: 650px;
	min-height: 56px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2085
{
	z-index: 23;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u2086
{
	z-index: 24;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u1440
{
	z-index: 9;
	width: 332px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 314px;
	margin-top: 163px;
	position: relative;
}

#u1442-4
{
	z-index: 10;
	width: 332px;
	min-height: 38px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1439
{
	z-index: 2;
	height: 861px;
	background-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1439-bw
{
	z-index: 2;
	margin-top: -763px;
	margin-bottom: -763px;
	height: 861px;
}

.html
{
	background: #000000 url("../images/1344899.jpg") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

