.version.ok /* version checker */
{
	color: #000011;
	background-color: #EFABE9;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1099.8500000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu2644
{
	width: 0.01px;
	margin-left: -100px;
}

#u2644
{
	z-index: 16;
	min-height: 101px;
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 473px;
	background: #2F3037 url("../images/bg_1.jpg") no-repeat center center;
	background-size: cover;
}

#u2613
{
	z-index: 17;
	width: 980px;
	height: 1px;
	background-color: #454651;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 100px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2644-bw
{
	z-index: 16;
	min-height: 101px;
}

#u2593
{
	z-index: 18;
	height: 574px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u2593-bw
{
	z-index: 18;
	height: 574px;
}

#u2856
{
	z-index: 26;
	width: 50px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 899px;
}

#u2861
{
	z-index: 27;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 104px;
}

#u2875-12
{
	z-index: 28;
	width: 980px;
	min-height: 385px;
	background-color: transparent;
	text-transform: uppercase;
	color: #44B8E2;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
}

#u2875-2,#u2875-3
{
	font-size: 72px;
	line-height: 86px;
}

#u2875-5
{
	font-size: 48px;
	line-height: 58px;
}

#u2875-6,#u2875-7
{
	font-size: 12px;
	line-height: 14px;
}

#u2875-9,#u2875-10
{
	font-size: 36px;
	line-height: 43px;
}

#u2876-4
{
	z-index: 40;
	width: 337px;
	min-height: 44px;
	border-style: solid;
	border-width: 2px;
	border-color: #53B8FF;
	background-color: #53B8FF;
	border-radius: 20px;
	line-height: 24px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 419px;
}

#u2876-4:hover
{
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 337px;
	margin: 497px -10000px 0px 0px;
}

#u2876-4:hover p
{
	color: #53B8FF;
	visibility: inherit;
}

#u2876-2
{
	font-size: 24px;
	text-align: center;
	padding-top: 11px;
	color: #FFFFFF;
}

#u2885
{
	z-index: 44;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 814px;
}

#u2889
{
	z-index: 45;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 427px;
	left: 866px;
}

#u2908
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 505px;
}

#u2647
{
	z-index: 15;
	min-height: 428px;
	border-width: 0px;
	border-color: transparent;
	background-color: #44B8E2;
}

#u2647_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 980px;
	left: -100px;
	padding-top: 6px;
	padding-bottom: 43px;
}

#u2835-4
{
	z-index: 20;
	width: 920px;
	min-height: 85px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: 120px;
	position: relative;
}

#pu2837
{
	width: 0.01px;
	left: 120px;
	margin-top: 40px;
	position: relative;
}

#u2837
{
	z-index: 25;
	width: 538px;
	min-height: 251px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2836
{
	z-index: 24;
	width: 400px;
	min-height: 224px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u2647-bw
{
	z-index: 15;
	min-height: 428px;
}

#pu1429
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -3px;
}

#u1429
{
	z-index: 2;
	min-height: 86px;
	padding-bottom: 30px;
}

#u1439-6
{
	z-index: 6;
	width: 355px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 99px;
}

#u1441
{
	z-index: 11;
	width: 11px;
}

#u1432
{
	z-index: 5;
	width: 49px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 890px;
}

#u1431
{
	z-index: 4;
	width: 49px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 960px;
}

#u1430
{
	z-index: 3;
	width: 49px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 1030px;
}

#u1432:hover,#u1431:hover,#u1430:hover
{
	width: 49px;
	height: 49px;
	min-height: 0px;
	margin: 35px -10000px 0px 0px;
}

#u1429-bw
{
	z-index: 2;
	min-height: 86px;
}

#u2826
{
	z-index: 19;
	min-height: 64px;
	background-color: #E6E7E8;
	padding-bottom: 48px;
}

#u2644_align_to_page,#u1429_align_to_page,#u2826_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 980px;
	left: -100px;
}

#u2919-4
{
	z-index: 52;
	width: 362px;
	min-height: 33px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 26px;
	font-size: 15px;
	text-align: left;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 100px;
}

#u2918-4
{
	z-index: 48;
	width: 240px;
	min-height: 33px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 26px;
	font-size: 15px;
	text-align: right;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 840px;
}

#u2826-bw
{
	z-index: 19;
	min-height: 64px;
	margin-top: 3px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 980px;
}

