.scrollingtext
{
	font-family: open-sans-n3, sans-serif;
}

#u1773-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1846-2,#u1846-4,#u1846-5,#u1846-7,#u1847-4,#u1783-2,#u1783-3,#u1783-5,#u1783-7,#u1783-9,#u1783-11,#u1783-12,#u1781-4,#u1821-22,#u1851-4,#u1848-4,#u1838-2,#u1838-4,#u1838-6,#u1838-8,#u1838-10,#u1838-12,#u1875-2,#u1875-4,#u1875-6,#u1875-8,#u1875-10,#u1875-12,#u1875-13,#u1875-15,#u1875-17,#u1875-19,#u1875-20,#u1875-22,#u1875-24,#u1875-26,#u1875-27,#u1875-29,#u1875-31,#u1875-33,#u1875-34,#u1875-36,#u1875-38,#u1875-40,#u1875-41,#u1942-2,#u1942-4,#u1942-6,#u1942-7,#u1942-9,#u1942-11,#u1942-13,#u1942-14,#u1942-16,#u1942-18,#u1942-20,#u1942-21,#u1942-23,#u1942-25,#u1942-27,#u1942-28,#u1942-30,#u1942-32,#u1942-34,#u1942-35,#u1942-37,#u1942-39,#u1942-41,#u1942-42,#u1941-10,#u1947-2,#u1947-4,#u1947-5,#u1947-7,#u1947-8,#u1947-10,#u1947-12,#u1947-14,#u1947-16,#u1947-18,#u1947-19,#u1947-21,#u1812-4,#u1784-4,#u1912-2,#u1912-3,#u1912-4,#u1912-6,#u1914-9,#u1921-12,#u1916-7,#u1918-11,#u1837-2,#u1837-3,#u1837-5,#u1837-7,#u1837-8,#u1837-10,#u1837-11,#u1837-13,#u1811-4,#u1830-4,#u1826-4,#u1775-6,#u1944-4,#u1900-4,#u1876-4,#u1778-12,#u1850-4,#u1806-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1802-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1793-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#widgetu1804_input,#widgetu1804_prompt,#widgetu1800_input,#widgetu1800_prompt,#widgetu1792_input,#widgetu1792_prompt
{
	font-family: pt-sans-narrow, sans-serif;
}

#u1771-4,#u1765-4,#u1770-4,#u1772-4,#u1846-8,#u1949-4,#u1955-6,#u1953-4,#u1908-4,#u1787-4,#u1919-3,#u1790-4,#u1856-2,#u1950-4,#u1904-6,#u1905-6,#u1903-6,#u1881-4,#u1855-6,#u1782-4,#u1943-6,#u1945-6,#u1883-6,#u1849-4,#u1899-6,#u1879-4,#u1829-6
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1880-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

