.scrollingtext
{
	font-family: open-sans-n3, sans-serif;
}

#u99-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2032-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1199-4,#u1201-4,#u1200-4,#u1202-4,#u81-8,#u357-4,#u863-6,#u1411-4,#u1412-4,#u814-4,#u1259-3,#u1436-4,#u698-2,#u667-4,#u668-6,#u669-6,#u670-6,#u671-4,#u673-6,#u702-4,#u704-6,#u706-6,#u708-6,#u784-4,#u1260-4,#u1975-6
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u433-6,#u1180-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u81-2,#u81-4,#u81-5,#u81-7,#u600-4,#u1378-2,#u1378-3,#u1378-5,#u1378-7,#u1378-9,#u1378-11,#u1378-12,#u107-4,#u953-22,#u959-4,#u1706-4,#u960-2,#u960-4,#u960-6,#u960-8,#u960-10,#u960-12,#u992-2,#u992-4,#u992-6,#u992-8,#u992-10,#u992-12,#u992-13,#u992-15,#u992-17,#u992-19,#u992-20,#u992-22,#u992-24,#u992-26,#u992-27,#u992-29,#u992-31,#u992-33,#u992-34,#u992-36,#u992-38,#u992-40,#u992-41,#u993-2,#u993-4,#u993-6,#u993-7,#u993-9,#u993-11,#u993-13,#u993-14,#u993-16,#u993-18,#u993-20,#u993-21,#u993-23,#u993-25,#u993-27,#u993-28,#u993-30,#u993-32,#u993-34,#u993-35,#u993-37,#u993-39,#u993-41,#u993-42,#u364-10,#u365-2,#u365-4,#u365-5,#u365-7,#u365-8,#u365-10,#u365-12,#u365-14,#u365-16,#u365-18,#u365-19,#u365-21,#u788-4,#u995-4,#u1225-2,#u1225-3,#u1225-4,#u1225-6,#u1229-9,#u1227-12,#u1223-7,#u1231-11,#u787-2,#u787-3,#u787-5,#u787-7,#u787-8,#u787-10,#u787-11,#u787-13,#u626-4,#u699-4,#u701-4,#u703-6,#u705-4,#u707-4,#u709-4,#u634-12,#u1707-4,#u1974-4,#u2015-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2003-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2009-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#widgetu2014_input,#widgetu2014_prompt,#widgetu2002_input,#widgetu2002_prompt,#widgetu2008_input,#widgetu2008_prompt
{
	font-family: pt-sans-narrow, sans-serif;
}

