.Name
{
	font-family: nova-mono-n4, sans-serif;
}

.ts-------------------7
{
	font-family: open-sans-n3, sans-serif;
}

.ts------8
{
	font-family: ubuntu-n4, sans-serif;
}

#u1129-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1126-4,#u1135-4
{
	font-family: lato-n4, sans-serif;
}

#u1289-4,#u1290-4,#u1136-86
{
	font-family: ubuntu-n3, sans-serif;
}

