.Name
{
	font-family: nova-mono-n4, sans-serif;
}

.ts-------------------7
{
	font-family: open-sans-n3, sans-serif;
}

.ts------8
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu1357.frm-sub-st #u1362-4 p,#widgetu1357.frm-subm-err-st #u1371-4 p,#u1371-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu1357.frm-subm-ok-st #u1373-4 p,#widgetu1426.frm-sub-st #u1442-4 p,#widgetu1426.frm-subm-err-st #u1441-4 p,#u1441-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu1426.frm-subm-ok-st #u1440-4 p,#widgetu1520.frm-sub-st #u1525-4 p,#widgetu1520.frm-subm-err-st #u1534-4 p,#u1534-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u474-5,#u1087-4,#u1088-4,#u713-4,#u705-4,#u705-6,#u705-8,#u705-10,#u705-12,#u705-16,#u705-18,#u787-4,#u933-4,#u933-6,#u933-8,#u933-12,#u933-14,#u933-15,#u789-4,#u934-4,#u934-6,#u934-8,#u934-10,#u934-14,#u934-16,#u934-17,#u791-4,#u935-4,#u935-6,#u935-10,#u935-12,#u935-13,#u793-4,#u936-4,#u936-6,#u936-8,#u936-9,#u680.PamphletThumbSelected #u682-4 p,#u682-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u680.PamphletThumbSelected #u681-4 p,#u681-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u683.PamphletThumbSelected #u685-4 p,#u685-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u683.PamphletThumbSelected #u684-4 p,#u684-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u677.PamphletThumbSelected #u679-4 p,#u679-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u677.PamphletThumbSelected #u678-4 p,#u678-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u674.PamphletThumbSelected #u676-4 p,#u676-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u674.PamphletThumbSelected #u675-4 p,#u675-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u671.PamphletThumbSelected #u672-4 p,#u672-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u671.PamphletThumbSelected #u673-4 p,#u673-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u705-2,#u705-14,#u705-19,#u933-2,#u933-10,#u933-16,#u934-2,#u934-12,#u934-18,#u935-2,#u935-8,#u935-14,#u936-2,#u936-10,#u1034-13,#u983-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u981-4,#u982-4,#u991-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u989-4,#u990-4,#u999-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u998-4,#u997-4,#u1038-4,#u1043-4,#u1048-4,#u1039-4,#u1040-4,#u1041-4,#u1042-4,#u1044-4,#u1045-4,#u1047-4,#u1051-4,#u1052-4,#u1053-4,#u1049-4,#u1271-4,#u1004-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1006-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u1008-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u602-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u613-3
{
	font-family: ubuntu-n5, sans-serif;
}

#u604-4,#u613-2,#u613-8
{
	font-family: lato-n4, sans-serif;
}

#u474-2,#u474-3,#u474-6,#u161-4,#u901-9,#u902-4,#u478-14,#u837-4,#u515-11,#u1017-6,#u1061-12,#u885-17
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu1520.frm-subm-ok-st #u1536-4 p,#u1158-4,#u1162-4,#u1172-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1096-7,#u152-4,#u195-17,#u498-17,#u346-19,#u500-20,#u973-4,#u974-4,#u975-4,#u976-4,#u977-4,#u815-4,#u816-7
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#widgetu1324.frm-sub-st #u1335-4 p,#widgetu1324.frm-subm-err-st #u1329-4 p,#widgetu1324.frm-subm-ok-st #u1336-4 p,#widgetu1568.frm-sub-st #u1569-4 p,#widgetu1568.frm-subm-err-st #u1584-4 p,#widgetu1568.frm-subm-ok-st #u1583-4 p
{
	font-family: open-sans-n3, sans-serif;
}

#u474-8,#u107-4,#u1084-4,#u147-4,#u1085-4,#u148-4,#u149-4,#u1086-4,#u163-4,#u476-4,#u1063-4,#u189-4,#u499-4,#u491-4,#u513-4,#u1035-4,#u1036-4,#u1037-4,#u522-4,#u546-4,#u1254-4,#u1256-4,#u1255-4,#u1258-5,#u475-4,#u887-4,#u1062-4,#u244-4,#u1591-6,#u814-4,#u819-4,#u820-4,#u410-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u405-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u399-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u407-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u401-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u397-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u409-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u403-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u378-4,#u382-4,#u386-4,#u388-4,#u380-4,#u390-11,#u384-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u603-14,#u613-4,#u613-5,#u613-6,#u613-7,#u1101-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1104-8
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

