.ts
{
	font-family: open-sans-n4, sans-serif;
}

#u839-4,#u849-4,#u852-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u761-6,#u299-5,#u836-4,#u133-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u104-4,#u105-5,#u113-9,#u144-6,#u147-7,#u156-9,#u157-9,#u170-4,#u171-5,#u172-6,#u173-9
{
	font-family: pt-sans-n4, sans-serif;
}

#u497-9
{
	font-family: ubuntu-i3, sans-serif;
}

#u140-4,#u146-4,#u151-6,#u155-4,#u531-4,#u533-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u252-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u253-8
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

