.ts
{
	font-family: open-sans-n4, sans-serif;
}

#u357-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u347-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u369-10,#u437-8
{
	font-family: ubuntu-n7, sans-serif;
}

#u432-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u433-8
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

