.ts
{
	font-family: open-sans-n4, sans-serif;
}

#u451-10
{
	font-family: ubuntu-n7, sans-serif;
}

#u456-4,#u465-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u464-86,#u448-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u447-8
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

