.version.index /* version checker */
{
	color: #0000E9;
	background-color: #BBF34B;
}

#page
{
	z-index: 1;
	width: 960px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u264
{
	z-index: 7;
	min-height: 663.9px;
	padding-bottom: 0px;
	background: #102E41 url("../images/1111.jpg") no-repeat center top;
}

#u264_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 66px;
}

#up
{
	left: 31px;
	position: relative;
}

#pu515
{
	width: 0.01px;
	margin-top: 4px;
	position: relative;
}

#u515
{
	z-index: 152;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u530
{
	z-index: 155;
	width: 50px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 371px;
}

#u761-6
{
	z-index: 169;
	width: 920px;
	min-height: 76px;
	background-color: transparent;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 120px;
	
}

#u761-61
{
z-index: 169;
width: 1100px;
min-height: 76px;
background-color: transparent;
line-height: 40px;
color: #FEB417;
font-size: 16px;
text-align: center;
font-family: ubuntu, sans-serif;
font-weight: 700;
position: relative;
margin-right: -10000px;
margin-top: 14px;
left: 1px;
font-size: 35px;

}

#pu299-5
{
	width: 0.01px;
	position: relative;
}

#u299-5
{
	z-index: 134;
	width: 1100px;
	min-height: 142px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u299-2
{
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

#u299-20
{
	font-size: 41px;
	line-height: 58px;
	
	color: #FFFFFF;
}

#u299
{
	text-align: center;
}

#u299-3
{
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

#u514
{
	z-index: 151;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#up2
{
	left: 61px;
	margin-top: 58px;
	position: relative;
}

#u892
{
	z-index: 202;
	width: 200px;
	min-height: 100px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 6px;
	margin-top: 80px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u264-bw
{
	z-index: 7;
	min-height: 663.9px;
}

#u100
{
	z-index: 6;
	min-height: 247px;
	background-color: #FEB417;
	padding-bottom: 92px;
}

#u101
{
	z-index: 8;
	width: 205px;
	background-color: #C40F3B;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 120px;
}

#u104-4
{
	z-index: 10;
	width: 205px;
	min-height: 43px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u102
{
	z-index: 9;
	width: 228px;
	background-color: #FDD8BF;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 325px;
}

#u105-5
{
	z-index: 14;
	width: 228px;
	min-height: 40px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u105-2
{
	font-size: 12px;
	line-height: 14px;
}

#pu896-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 650px;
}

#u896-4
{
	z-index: 203;
	width: 304px;
	min-height: 66px;
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #1D96C6;
	background-color: #24B4F2;
	border-radius: 100px;
	line-height: 26px;
	position: relative;
	border-width: 0px 0px 4px;
}

#u896-4:hover
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 304px;
	margin: 0px;
	border-width: 0px 0px 4px;
}

#u896-4:active
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 304px;
	margin: 0px;
	border-width: 4px 0px 0px;
}

#u113-9
{
	z-index: 68;
	width: 400px;
	min-height: 61px;
	background-color: transparent;
	line-height: 26px;
	font-size: 19px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u100-bw
{
	z-index: 6;
	min-height: 247px;
}

#u107
{
	z-index: 77;
	width: 74px;
	background-color: transparent;
	-webkit-transform: matrix(0.6293,0.7771,-0.7771,0.6293,53,-10);
	-ms-transform: matrix(0.6293,0.7771,-0.7771,0.6293,53,-10);
	transform: matrix(0.6293,0.7771,-0.7771,0.6293,53,-10);
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 466px;
}

#u749
{
	z-index: 168;
	width: 346px;
	min-height: 214px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 120px;
}

#u889
{
	z-index: 201;
	width: 319px;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 120px;
}

#pu100,#pu186
{
	width: 0.01px;
	margin-left: -100px;
}

#u186
{
	z-index: 110;
	width: 960px;
	background-color: transparent;
	opacity: 0.19;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19)";
	filter: alpha(opacity=19);
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 100px;
}

#u314
{
	z-index: 140;
	min-height: 351.55000000000007px;
	background-color: #F6F4F5;
	padding-bottom: 0px;
}

#u314_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 40px;
	padding-bottom: 21px;
}

#u836-4
{
	z-index: 181;
	width: 920px;
	min-height: 59px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	left: 120px;
	position: relative;
}

#pu787
{
	width: 0.01px;
	left: 191px;
	margin-top: 6px;
	position: relative;
}

#u787
{
	z-index: 175;
	width: 180px;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
}

#u819
{
	z-index: 179;
	width: 180px;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u819_img
{
	margin-top: -7px;
	margin-bottom: -6px;
}

#u807
{
	z-index: 177;
	width: 180px;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 611px;
}

#pu839-4
{
	width: 0.01px;
	left: 160px;
	margin-top: 7px;
	position: relative;
}

#u839-4
{
	z-index: 185;
	width: 242px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u849-4
{
	z-index: 189;
	width: 242px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 306px;
}

#u852-4
{
	z-index: 193;
	width: 242px;
	min-height: 44px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u314-bw
{
	z-index: 140;
	min-height: 351.55000000000007px;
}

#u133-4
{
	z-index: 2;
	width: 920px;
	min-height: 80px;
	background-color: transparent;
	line-height: 58px;
	font-size: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 60px;
	position: relative;
}

#u134
{
	z-index: 79;
	width: 170px;
	background-color: #F6F4F5;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u787 .clip_frame,#u819 .clip_frame,#u807 .clip_frame,#u134 .clip_frame
{
	-webkit-border-radius: 200px 200px 200px 200px;
}

#u207
{
	z-index: 112;
	width: 170px;
	background-color: #F6F4F5;
	border-radius: 200px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#u208
{
	z-index: 115;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 13px;
}

#ppu140-4
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 12px;
}

#pu140-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u140-4
{
	z-index: 19;
	width: 367px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
}

#u144-6
{
	z-index: 37;
	width: 367px;
	min-height: 132px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu146-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 457px;
}

#u146-4
{
	z-index: 33;
	width: 367px;
	min-height: 71px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
}

#u147-7
{
	z-index: 61;
	width: 367px;
	min-height: 124px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu134,#pu214
{
	width: 0.01px;
	margin-left: 141px;
}

#u214
{
	z-index: 113;
	width: 170px;
	background-color: #F6F4F5;
	border-radius: 200px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u215
{
	z-index: 117;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u221
{
	z-index: 114;
	width: 170px;
	background-color: #F6F4F5;
	border-radius: 200px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#u222
{
	z-index: 119;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 13px;
}

#pu151-6
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 12px;
}

#u151-6
{
	z-index: 23;
	width: 367px;
	min-height: 61px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u155-4
{
	z-index: 29;
	width: 367px;
	min-height: 61px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#pu156-9
{
	width: 0.01px;
	margin-left: 42px;
}

#u156-9
{
	z-index: 43;
	width: 367px;
	min-height: 132px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u157-9
{
	z-index: 52;
	width: 367px;
	min-height: 132px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 457px;
}

#u167
{
	z-index: 81;
	min-height: 299.9000000000001px;
	background-color: #FEB417;
	padding-bottom: 0px;
}

#u167_position_content
{
	padding-top: 29px;
	width: 100%;
}

#u168
{
	z-index: 82;
	width: 205px;
	background-color: #C40F3B;
	left: 158px;
	position: relative;
}

#u170-4
{
	z-index: 84;
	width: 205px;
	min-height: 43px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu169
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u169
{
	z-index: 83;
	width: 183px;
	background-color: #FDD8BF;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u171-5
{
	z-index: 88;
	width: 183px;
	min-height: 43px;
	background-color: transparent;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	text-align: left;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u105-3,#u171-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u105,#u171
{
	line-height: 36px;
}

#u171-2
{
	font-size: 14px;
	line-height: 17px;
}

#u172-6
{
	z-index: 93;
	width: 431px;
	min-height: 61px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u157-2,#u157-5,#u172-2
{
	font-weight: 700;
}

#u173-9
{
	z-index: 99;
	width: 450px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u174
{
	z-index: 108;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 141px;
}

#u531-4
{
	z-index: 156;
	width: 781px;
	min-height: 66px;
	background-color: transparent;
	line-height: 31px;
	color: #000000;
	font-size: 26px;
	text-align: right;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u532-4
{
	z-index: 164;
	width: 304px;
	min-height: 66px;
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #1D96C6;
	background-color: #24B4F2;
	border-radius: 100px;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 26px;
	border-width: 0px 0px 4px;
}

#u532-4:hover
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 304px;
	margin: 137px -10000px 0px 0px;
	border-width: 0px 0px 4px;
}

#u532-4:active
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 304px;
	margin: 137px -10000px 0px 0px;
	border-width: 4px 0px 0px;
}

#u896-2,#u532-2
{
	font-size: 22px;
}

#u167-bw
{
	z-index: 81;
	min-height: 299.9000000000001px;
	margin-top: 20px;
}

#pu522
{
	width: 0.01px;
	margin-left: 92px;
	margin-top: 19px;
}

#u522
{
	z-index: 153;
	width: 274px;
	border-style: solid;
	border-width: 2px;
	border-color: #FEB417;
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u522 .clip_frame
{
	-webkit-border-radius: 198px 198px 198px 198px;
}

#u497-9
{
	z-index: 142;
	width: 467px;
	min-height: 335px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 381px;
	margin-top: 20px;
}

#u497-7
{
	text-align: right;
}

#u497-5
{
	font-weight: 400;
}

#pu533-4
{
	width: 0.01px;
	margin-top: 37px;
}

#u533-4
{
	z-index: 160;
	width: 920px;
	min-height: 66px;
	background-color: transparent;
	line-height: 58px;
	color: #24B4F2;
	font-size: 48px;
	text-align: right;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 39px;
}

#u877
{
	z-index: 199;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u249
{
	z-index: 121;
	min-height: 101px;
	background-color: #0D364C;
	padding-bottom: 10px;
}

#u100_align_to_page,#u167_align_to_page,#u249_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u855
{
	z-index: 197;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 120px;
}

#u252-4
{
	z-index: 122;
	width: 249px;
	min-height: 32px;
	background-color: transparent;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 448px;
}

#u253-8
{
	z-index: 126;
	min-height: 51px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 800px;
}

#u253-4
{
	color: #fff;
	font-size: 18px;
}

#u253-2,#u253-5,#u253-6
{
	color: #81DBF6;
	font-size: 23px;
}

#u249-bw
{
	z-index: 121;
	min-height: 101px;
	margin-top: 99px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}
.container {
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}	

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    margin: 0 20px 20px 0;
    float: left;
    display: block;
}

.grid_4 {
    width: 31%;
	height: 282px;
}

.serv_block {
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    background: #fff;
    outline: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
    color: #2a2121;
    text-align: center;
    transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
	background: #74bef7;
}
.serv_block:hover {
    background: #fcc71f;
    outline: 1px solid #fcc71f;
    color: #3e3e3e;
}
	
.serv_block:hover p {
    color: #3e3e3e;
}
.serv_block p {
    margin: 0;
    padding: 26px 10px 21px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 31px;
    line-height: 22px;
    color: #787878;	
}	

.serv_block h2 {
    margin: 0;
    padding: 26px 10px 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	font-size: 31px;
	line-height: 22px;
	color: #443d3d;;	
}	

.serv_block span {
    padding: 0 10px;
}
.serv_block:hover {
    color: #3e3e3e;	
}	
.serv_link1 {
    position: absolute;
    bottom: 31px;
    padding: 9px 22px 9px 27px;
    width: 81px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    left: 94px;
    background: #afafaf;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	}
	
ul, ol {
    padding: 0;
	padding-left: 20px;
    margin: 0 5px  10px 25px;	
}

ul li {
margin: 0;
list-style: disc;
text-align: left;
font-size: 16px;
padding: 4px;
}
li {
    line-height: 20px;
	}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] .uneditable-input {
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	height: 28px;
	padding: 4px 6px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #555;
	width: 285px;
}

btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    border: 1px solid #bbb;
    border-bottom-color: #a2a2a2;
    border-radius: 4px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background: #51a351;
 }

.btn-large, .btn.btn-large {
    padding: 11px 19px;
	font-size: 17.5px;
	color: #fff;
	background: #24B4F2;
	width: 300px;
}

form {
    margin-top: 10px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    transform-origin: left top;
    background-repeat: no-repeat;
	
}