.version.confidence /* version checker */
{
	color: #00000D;
	background-color: #F1B49E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2592px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;/* should not cover content below */
}

#u455
{
	z-index: 3;
	min-height: 550px;
	background: transparent url("../images/bg3914fca7d31b.png") repeat left top;
}

#u455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 38px;
	padding-bottom: 15px;
}

#u452
{
	z-index: 4;
	width: 155px;
	background-color: transparent;
	left: 100px;
	position: relative;
}

#u452_img
{
	padding-right: 81px;
}

#pu456-4
{
	width: 0.01px;
	left: 120px;
	margin-top: 27px;
	position: relative;
}

#u456-4
{
	z-index: 6;
	width: 920px;
	min-height: 61px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 43px;
	color: #000000;
	font-size: 36px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u451-10
{
	z-index: 14;
	width: 681px;
	min-height: 254px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 58px;
	font-size: 48px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u449
{
	z-index: 24;
	width: 387px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.06);
	background-color: transparent;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 553px;
}

#u449 .clip_frame
{
	-webkit-border-radius: 200px 200px 200px 200px;
}

#u466-4
{
	z-index: 127;
	width: 230px;
	min-height: 66px;
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #1D96C6;
	background-color: #24B4F2;
	border-radius: 100px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 167px;
	border-width: 0px 0px 4px;
}

#u466-4:hover
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 230px;
	margin: 326px -10000px 0px 0px;
	border-width: 0px 0px 4px;
}

#u466-4:active
{
	-pie-box-shadow: 0px 2px 6px #7F7F7F;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	border-style: solid;
	background-color: #43BDF2;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	width: 230px;
	margin: 326px -10000px 0px 0px;
	border-width: 4px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u455-bw
{
	z-index: 3;
	min-height: 550px;
}

#u444
{
	z-index: 2;
	min-height: 1966.6500000000003px;
	background-color: #FEB417;
	padding-bottom: 0px;
}

#u444_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-top: 15px;
	padding-bottom: 8px;
}

#u465-4
{
	z-index: 10;
	width: 920px;
	min-height: 61px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	line-height: 43px;
	color: #000000;
	font-size: 36px;
	text-align: center;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	left: 120px;
	position: relative;
}

#u464-86
{
	z-index: 41;
	width: 920px;
	min-height: 679px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	left: 120px;
	margin-top: 39px;
	position: relative;
}

#u464-2
{
	font-weight: 400;
}

#u464-3,#u464-4,#u464-6,#u464-7,#u464-9,#u464-10,#u464-12,#u464-13,#u464-15,#u464-16,#u464-18,#u464-19,#u464-21,#u464-22,#u464-24,#u464-25,#u464-27,#u464-28,#u464-30,#u464-31,#u464-33,#u464-35,#u464-36,#u464-38,#u464-40,#u464-41,#u464-43,#u464-44,#u464-46,#u464-47,#u464-48,#u464-49,#u464-51,#u464-52,#u464-53,#u464-55,#u464-56,#u464-57,#u464-59,#u464-60,#u464-61,#u464-63,#u464-64,#u464-65,#u464-67,#u464-68,#u464-70,#u464-71,#u464-73,#u464-74,#u464-75,#u464-77,#u464-78,#u464-80,#u464-81,#u464-83,#u464-84
{
	font-weight: 300;
}

#u444-bw
{
	z-index: 2;
	min-height: 1966.6500000000003px;
}

#u457
{
	z-index: 26;
	min-height: 91px;
	background-color: #ECF0F1;
	padding-bottom: 20px;
}

#u457_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u445
{
	z-index: 39;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 57px;
}

#u445_img
{
	padding-right: 66px;
}

#u448-4
{
	z-index: 27;
	width: 249px;
	min-height: 32px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 455px;
}

#u447-8
{
	z-index: 31;
	width: 206px;
	min-height: 51px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 854px;
}

#u447-4
{
	color: #000000;
}

#u447-2,#u447-5,#u447-6
{
	color: #21C8F9;
}

#u457-bw
{
	z-index: 26;
	min-height: 91px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 19px;
}

