.ts------8,.ts----------3
{
	font-family: ubuntu-n4, sans-serif;
}

#u140-17,#u333-15
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u126-6,#u595-6
{
	font-family: lobster-n4, serif;
}

#widgetu181.frm-sub-st #u186-4 p,#widgetu181.frm-subm-err-st #u197-4 p,#u197-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu181.frm-subm-ok-st #u192-4 p,#widgetu342.frm-sub-st #u348-4 p,#widgetu342.frm-subm-err-st #u353-4 p,#u353-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu342.frm-subm-ok-st #u358-4 p
{
	font-family: ubuntu-n4, sans-serif;
}

#u931-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

