.ts----------3,.ts------8
{
	font-family: ubuntu-n4, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

#u1770
{
	font-family: open-sans-n3, sans-serif;
}

#u482-4,#u485-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u500-5,#u507-4
{
	font-family: lobster-n4, serif;
}

#u164-4,#u222-10,#u423-20,#widgetu734.frm-sub-st #u739-4 p,#widgetu734.frm-subm-err-st #u740-4 p,#u740-4
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu734.frm-subm-ok-st #u746-4 p,#widgetu901.frm-sub-st #u911-4 p,#widgetu901.frm-subm-err-st #u902-4 p,#u902-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u556-4
{
	font-family: open-sans-n4, sans-serif;
}

#u154-4,#u199-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1039-5.AccordionPanelTabOpen p,#u1039-5.AccordionPanelTabOpen ul,#u1039-5.AccordionPanelTabOpen li,#u1039-5.AccordionPanelTabOpen span,#u1045-5.AccordionPanelTabOpen p,#u1045-5.AccordionPanelTabOpen ul,#u1045-5.AccordionPanelTabOpen li,#u1045-5.AccordionPanelTabOpen span,#u1027-5.AccordionPanelTabOpen p,#u1027-5.AccordionPanelTabOpen ul,#u1027-5.AccordionPanelTabOpen li,#u1027-5.AccordionPanelTabOpen span,#u1025-5.AccordionPanelTabOpen p,#u1025-5.AccordionPanelTabOpen ul,#u1025-5.AccordionPanelTabOpen li,#u1025-5.AccordionPanelTabOpen span,#u1037-5.AccordionPanelTabOpen p,#u1037-5.AccordionPanelTabOpen ul,#u1037-5.AccordionPanelTabOpen li,#u1037-5.AccordionPanelTabOpen span,#u1055-5.AccordionPanelTabOpen p,#u1055-5.AccordionPanelTabOpen ul,#u1055-5.AccordionPanelTabOpen li,#u1055-5.AccordionPanelTabOpen span,#u1037-3 > #u1037-2:before,#u1037
{
	font-family: ubuntu-mono-n4, sans-serif;
}

#u141-4,#u1045-3 > #u1045-2:before,#u1045,#u1039-3 > #u1039-2:before,#u1039,#u1027-3 > #u1027-2:before,#u1027,#u1025-3 > #u1025-2:before,#u1025,#u1055-3 > #u1055-2:before,#u1055
{
	font-family: ubuntu-n7, sans-serif;
}

#widgetu901.frm-subm-ok-st #u917-4 p,#u1034-4,#u1047-4,#u1041-4,#u1029-4,#u1024-4,#u1052-15
{
	font-family: ubuntu-n4, sans-serif;
}

#u122-4,#u132-4,#u129-4,#u138-4,#u135-4,#u1736-4,#u151-4,#u158-4,#u167-4,#u251-7,#u1790-4,#u1785-4,#u1786-4,#u1787-4,#u1788-4,#u1789-4,#u426-4,#u432-4,#u436-5,#u435-4,#u437-24,#u228-4,#u341-4,#u344-10,#u347-4,#u353-12,#u368-4,#u362-11,#u380-4,#u374-8,#u392-4,#u386-10,#u513-4,#u460-4,#u594-10,#u705-12,#u510-7,#u724-4,#u532-4,#u727-13,#u529-4,#u518-7,#u198-4,#u204-4,#u1158-4,#u1824-4
{
	font-family: ubuntu-n3, sans-serif;
}

