.ts----------3,.ts------8
{
	font-family: ubuntu-n4, sans-serif;
}

.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

#u1530-7
{
	font-family: ubuntu-n7, sans-serif;
}

#u1567-4
{
	font-family: ubuntu-n3, sans-serif;
}

